<div class="mx-auto max-w-screen-lg mt-5 px-8">
    <div class="text-center py-8 text-white rounded">
        <h2 class="text-2xl font-bold mb-4">Returns Policy</h2>
        <p class="text-lg mb-4">You may return an item within 21 days of receiving it for a refund or an exchange, provided the shirt is returned in the same saleable condition in which we sent it, with tags attached and in the original packaging. We will only offer a refund for damaged or faulty items. If you receive the wrong size, we will only consider an exchange if the mistake is on our end.</p>
        <p class="text-lg mb-4">Customers are responsible for the shipping costs of returned items. Proof of purchase must also be included in the returned package. Once the returned item is inspected, we will notify you by email that a replacement has been ordered. For refunded items, the refund will be processed back to the original payment method. Please allow several days for the refund to reflect in your account.</p>
        <p class="text-lg font-bold">Returns Address:</p>
        <p class="mb-4">Postnet Boardwalk<br>Port Elizabeth</p>
        <p>For assistance, please contact: <a href="mailto:vintagekitman1@gmail.com" class="text-blue-500">vintagekitman1@gmail.com</a></p>
    </div>
    
    <div class="text-center py-8 text-white rounded mt-8">
        <h2 class="text-2xl font-bold mb-4">Shipping</h2>
        <p class="text-lg">Our Monthly Bulk Order typically takes +/-20 days to arrive in South Africa, though during busy periods, it may extend to 28/30 days. Shirts arrive with us and are then distributed to each client via our local courier services, with a tracking number provided.</p>
    </div>


</div>