.parent {
    transition: background-color 0.3s ease;
}

.parent:hover {
    background-color: #f3cd11; /* Change this to your desired hover background color */
    color:black
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
  }
  @keyframes l5 {
      0%  {box-shadow: 20px 0 #fff, -20px 0 #fff0ff70;background: #fff }
      33% {box-shadow: 20px 0 #fff, -20px 0 #fff0ff70;background: #fff0ff70}
      66% {box-shadow: 20px 0 #fff0ff70,-20px 0 #fff; background: #fff0ff70}
      100%{box-shadow: 20px 0 #fff0ff70,-20px 0 #fff; background: #fff }
  }