<!-- component -->
<div class="my-12 flex flex-col">
    <div class="container  mx-auto flex-1 flex flex-col items-center justify-center">
        <div class="px-6 rounded shadow-md text-black md:w-8/12 xs:w-10/12">
            <div class="left-0 right-0 mx-auto items-center">
                <img src="/assets/images/vintagekitman-bg-clear.png" class="h-20 mx-auto" alt="">
            </div>
            <h1 class="text-3xl text-white text-center mx-auto mb-4">
                Create an Account
            </h1>
            <form (submit)="onSignUp()" [formGroup]="registerForm" class="" >
                <div class="flex lg:flex-row xs:flex-col lg:space-x-4 xs:space-x-0 w-full">
                    <div class="flex flex-col lg:w-1/2 xs:w-full">
                        <label for="password"
                        class="block mb-2 text-sm font-medium text-white">Name</label>
                        <input 
                        type="text"
                        class="block border border-grey-light p-3 rounded mb-2"
                        formControlName = "name"
                        placeholder="Name"
                         />
                         <p *ngIf="registerForm.controls['name'].invalid && (formSubmitted || registerForm.controls['name'].touched)"
                         class="bottom-0 text-sm text-txtRed">This field is required!</p>
                    </div>
                    <div class="flex flex-col lg:w-1/2 xs:w-full">
                        <label for="password"
                        class="block mb-2 text-sm font-medium text-white">Surname</label>
                       <input 
                       type="text"
                       class="relative block border p-3 rounded mb-2"
                       formControlName = "surname"
                       placeholder="Surname" />
                       <p *ngIf="registerForm.controls['surname'].invalid && (formSubmitted || registerForm.controls['surname'].touched)"
                       class="bottom-0 text-sm text-txtRed">This field is required!</p>
                    </div>

                </div>
                <div class="flex lg:flex-row xs:flex-col lg:space-x-4 xs:space-x-0 w-full">
                    <div class="flex flex-col lg:w-1/2 xs:w-full">
                        <label for="password"
                        class="block mb-2 text-sm font-medium text-white">Email</label>
                        <input 
                        type="text"
                        class="block border border-grey-light p-3 rounded mb-4"
                        formControlName = "email"
                        placeholder="Email" />
                        <p *ngIf="registerForm.controls['email'].invalid && (formSubmitted || registerForm.controls['email'].touched)"
                        class="bottom-0 text-sm text-txtRed">This field is required!</p>
                        <p *ngIf="errorMessage != ''" class="text-txtRed -top-3">{{errorMessage}}</p>
                    </div>
                    <div class="flex flex-col lg:w-1/2 xs:w-full">
                        <label for="password"
                        class="block mb-2 text-sm font-medium text-white">Phone Number</label>
                        <input 
                        type="text"
                        class="block border border-grey-light p-3 rounded mb-4"
                        formControlName = "phoneNumber"
                        placeholder="0123455678" />
                        <p *ngIf="registerForm.controls['phoneNumber'].invalid && (formSubmitted || registerForm.controls['phoneNumber'].touched)"
                        class="pb-2 text-sm text-txtRed">This field is required!</p>
                    </div>

                </div>
                <div class="flex flex-col w-full">
                    <label for="password"
                    class="block mb-2 text-sm font-medium text-white">Password</label>
                    <input 
                    type="password"
                    class="block border  p-3 rounded mb-4"
                    formControlName = "password"
                    placeholder="Password" />
                    <p *ngIf="registerForm.controls['password'].invalid && (formSubmitted || registerForm.controls['password'].touched)"
                    class="bottom-0 text-sm text-txtRed">This field is required!</p>
                    <p class="text-txtRed text-sm" 
                    *ngIf="registerForm.controls['password'].invalid && (formSubmitted || registerForm.controls['password'].errors!['pattern'])">
                    Your password must contain at least one uppercase letter, one lowercase letter, one number, one special character (!@#$%^&*), and be at least 8 characters long.
                    </p>
                    <label for="password"
                    class="block mb-2 text-sm font-medium text-white">Confirm Password</label>
                    <input 
                    type="password"
                    class="block border p-3 rounded mb-2"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword" />
                    <p class="text-txtRed font-semibold">
                        {{errorMessage}}

                    </p>
                    <div class="text-txtRed mb-4" *ngIf="registerForm.value['confirmPassword'] != registerForm.value['password']">
                        Passwords do not match      
                    </div>


                </div>

                <div class="button-container ">
                    <button type="submit"
                        class="w-full text-white mt-3 bg-grey hover:bg-canary hover:text-black font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        <p *ngIf="ifIsLoading==false" 
                        class="text-sm text-white">Sign up</p>
                        <div *ngIf="ifIsLoading==true" class="loader mx-auto border-canary"></div>
                    </button>
                </div>
            </form>



        </div>

        <div class="text-white  mt-6">
            Already have an account? 
            <a class="no-underline border-b border-blue text-blue hover:text-canary" href="../login/">
                Log in
            </a>
        </div>
    </div>
</div>