<div class="my-12 flex flex-col" *ngIf="addressArray.length ==0 || showAddForm">
    <div class="container mx-auto flex-1 flex flex-col items-center justify-center">
        <div class="px-6 rounded shadow-md text-black md:w-5/12 xs:w-3/4">
            <h1 class="text-3xl text-white text-center mx-auto mb-4">
                Enter Your Address
            </h1>
            <form [formGroup]="addressForm" (submit)="onSubmit()" class="">
                <div class="flex flex-row space-x-4 w-full">
                    <div class="flex flex-col w-full">
                        <label for="name"
                               class="block mb-2 text-sm font-medium text-white">Name<label class="text-txtRed">*</label></label>
                        <input
                                type="text"
                                class="block border border-grey-light p-3 rounded mb-2"
                                formControlName="name"
                                placeholder="Name"/>
                        <p *ngIf="addressForm.controls['name'].invalid && (formSubmitted || addressForm.controls['name'].touched)"
                           class="bottom-0 text-sm text-txtRed">This field is required!</p>
                    </div>
                </div>
                <div class="flex flex-row space-x-4 w-full">
                    <div class="flex flex-col w-full">
                        <label for="addressName"
                               class="block mb-2 text-sm font-medium text-white">Address Line 1 <label class="text-txtRed">*</label></label>
                        <input
                                type="text"
                                class="block border border-grey-light p-3 rounded mb-2"
                                formControlName="addressName1"
                                placeholder="Address Line 1"/>
                        <p *ngIf="addressForm.controls['addressName1'].invalid && (formSubmitted || addressForm.controls['addressName1'].touched)"
                           class="bottom-0 text-sm text-txtRed">This field is required!</p>
                    </div>
                </div>
                <div class="flex flex-col w-full">
                    <label for="addressName"
                           class="block mb-2 text-sm font-medium text-white">Address Line 2 <label class="text-txtRed">*</label></label>
                    <input
                            type="text"
                            class="block border border-grey-light p-3 rounded mb-2"
                            formControlName="addressName2"
                            placeholder="Address Line 2"/>
                    <p *ngIf="addressForm.controls['addressName2'].invalid && (formSubmitted || addressForm.controls['addressName2'].touched)"
                       class="bottom-0 text-sm text-txtRed">This field is required!</p>
                </div>
                <div class="flex lg2:flex-row xs:flex-col xs:space-x-0 w-full lg2:space-x-4 w">
                    <div class="flex flex-col lg2:w-1/2 xs:w-full">
                        <label for="buildingName"
                               class="block mb-2 text-sm font-medium text-white">Province <label class="text-txtRed">*</label></label>
                        <select
                                class="block border border-grey-light p-3 rounded mb-2 "
                                formControlName="province"
                                placeholder="province">
                            <option *ngFor="let province of provinces" class="text-black" [value]="province.name">{{province.name}}</option>
                        </select>
                        <p *ngIf="addressForm.controls['province'].invalid && (formSubmitted || addressForm.controls['province'].touched)"
                           class="bottom-0 text-sm text-txtRed">This field is required!</p>
                    </div>
                    <div class="flex flex-col lg2:w-1/2 xs:w-full">
                        <label for="floor"
                               class="block mb-2 text-sm font-medium text-white">Zip Code <label class="text-txtRed">*</label></label>
                        <input
                               type="text"
                               class="relative block border p-3 rounded mb-2"
                               formControlName="zipCode"
                               placeholder="Zip Code"/>
                        <p *ngIf="addressForm.controls['zipCode'].invalid && (formSubmitted || addressForm.controls['zipCode'].touched)"
                           class="bottom-0 text-sm text-txtRed">This field is required!</p>
                           <p class="bottom-0 text-sm text-txtRed" 
                           *ngIf="addressForm.controls['zipCode'].errors?.['pattern'] && (formSubmitted || addressForm.controls['zipCode'].touched)">
                            Please enter a valid zip code
                           </p>
                        </div>
                </div>
                <div class="flex flex-row space-x-4 w-full">
                    <div class="flex flex-col w-full">
                        <label for="addressName"
                               class="block mb-2 text-sm font-medium text-white">Building name</label>
                        <input
                                type="text"
                                class="block border border-grey-light p-3 rounded mb-2"
                                formControlName="buildingName"
                                placeholder="Building name"/>
                    </div>
                </div>
                <div class="flex flex-col w-full">
                        <label for="floor"
                               class="block mb-2 text-sm font-medium text-white">Unit number</label>
                        <input
                                type="text"
                                class="relative block border p-3 rounded mb-2"
                                formControlName="unitNumber"
                                placeholder="Unit Number"/>
                        <p *ngIf="addressForm.controls['unitNumber'].invalid && (formSubmitted || addressForm.controls['unitNumber'].touched)"
                           class="bottom-0 text-sm text-txtRed">This field is required!</p>
                    </div>
                <div class="button-container">
                    <button type="submit"
                            class="w-full text-white mt-3 bg-grey hover:bg-canary hover:text-black font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        <p *ngIf="ifIsLoading===false"
                           class="text-sm text-white">Submit</p>
                        <div *ngIf="ifIsLoading==true" class="loader mx-auto border-canary"></div>
                    </button>
                    <button *ngIf="showAddForm"
                        class="w-full text-white mt-3 bg-canary hover:text-black font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        <p *ngIf="ifIsLoading===false"
                        class="text-sm text-white">View addresses</p>

                    </button>
                </div>
            </form>
        </div>
        <div class="text-white mt-6">
        </div>
    </div>
</div>

<div *ngIf="addressArray.length>0 && !showAddForm">
<div  class="flex flex-col max-w-screen-md w-screen mx-auto items-center justify-center mb-16">
    <mat-accordion class="w-screen max-w-screen-md">
        <div class="mt-5">
            <h1 class="text-3xl text-white text-center mx-auto mb-4">
                My addresses
            </h1>
        </div>
        <mat-expansion-panel *ngFor="let address of addressArray">
          <mat-expansion-panel-header class="justify-between">
            <mat-panel-title>
              {{address.name}} &nbsp;<p *ngIf="address.isMain">(main address)</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex flex-row justify-between">
            <div class="flex flex-col">
            <h1 class="text-black text-sm font-semibold">Address Line 1: {{address.addressName1}}</h1>
            <h1 class="text-black text-sm font-semibold">Town/City: {{address.addressName2}}</h1>
            <h1 class="text-black text-sm font-semibold">Province: {{address.province}}</h1>
            <h1 class="text-black text-sm font-semibold">Zip Code: {{address.zipCode}}</h1>
            <h1 *ngIf="address.buildingName !=''"class="text-black text-sm font-semibold">Building Name: {{address.buildingName}}</h1>
            <h1 *ngIf="address.unitNumber !=''"class="text-black text-sm font-semibold">Unit Number: {{address.unitNumber}}</h1>
            </div>
            <div class="top-0 right-0 flex flex-col space-y-3">
                <button class="text-gray-500 transition-colors duration-200 dark:hover:text-yellow-500 dark:text-gray-300 hover:text-yellow-500 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg>
                </button>
                <button class="text-gray-500 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>
                </button>
                <button *ngIf="!address.isMain" class="text-gray-500 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                    <mat-icon fontIcon="my_location" 
                    matTooltipPosition="above"
                    matTooltip="set as main location"></mat-icon>
                </button>
            </div>

          </div>
        </mat-expansion-panel>
        
        <div
    class="relative justify-end float-right mt-3">
    <button (click)="showForm()" class="w-22 rounded-md p-3 bg-darkgrey text-white hover:bg-canary hover:text-black">
        Add new address
    </button>
</div> 
      </mat-accordion>
</div>


</div>


