<div class="max-w-screen-md min-w-fit justify-between mx-auto items-center h-screen px-12">

    <div class="flex flex-col h-fit mt-6 rounded-md border-canary text-white">
        <h1 class=" text-center text-3xl font-bold mt-3 border-b pb-2 px-3">
            Checkout
        </h1>
        <div class="relative flex flex-col">
            <div *ngFor="let item of cartArray" class="relative my-2 mx-3 ">
                <div class="border-b border-grey justify-between">
                    <div class="flex flex-row">
                        <img src="{{item.KitImage}}" class="w-28 hover:cursor-pointer max-h-28" [routerLink]="['/product', item.KitName]">
                        <div class="flex flex-col">
                            <h1 class="text-xl ml-3 font-semibold">
                                {{item.KitName}}
                            </h1>
                            <div>
                                <h1 class="ml-3 text-xl font-semibold">
                                    R{{item.KitPrice * item.Quantity}}.00
                                </h1>
                            </div>
                            <div class="flex flex-col ml-3" *ngIf="item.CustomName != '' && item.CustomNumber != 0">
                                <h6 class="text-grey">Custom Name: {{item.CustomName}}</h6>
                                <h6 class="text-grey">Custom Number: {{item.CustomNumber}}</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- delivery address -->
        <div class="flex flex-col border-b border-grey pb-4">
            <div class="justify-between px-3">
                <h1 class="text-xl font-semibold mt-3 ">
                    Delivery Address
                </h1>
                <a routerLink="/shipping-address" class="underline transition-colors duration-200">
                    View all addresses
                </a>

            </div>

            <div class="flex flex-col px-3">
                <h1 *ngIf="deliveryAddress != ''" class="text-xl font-semibold">
                    <!-- {{deliveryAddress}} -->
                </h1>
                <h1 *ngIf="addressString !=''" class="text-lg font-semibold">
                    <mat-expansion-panel class="bg-black">
                        <mat-expansion-panel-header class="justify-between">
                          <mat-panel-title>
                            {{address.name}} 
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="flex flex-row justify-between">
                          <div class="flex flex-col">
                          <h1 class="text-black text-sm font-semibold">Address Line 1: {{address.addressName1}}</h1>
                          <h1 class="text-black text-sm font-semibold">Town/City: {{address.addressName2}}</h1>
                          <h1 class="text-black text-sm font-semibold">Province: {{address.province}}</h1>
                          <h1 class="text-black text-sm font-semibold">Zip Code: {{address.zipCode}}</h1>
                          <h1 *ngIf="address.buildingName !=''"class="text-black text-sm font-semibold">Building Name: {{address.buildingName}}</h1>
                          <h1 *ngIf="address.unitNumber !=''"class="text-black text-sm font-semibold">Unit Number: {{address.unitNumber}}</h1>
                          </div>

              
                        </div>
                      </mat-expansion-panel>
                </h1>
                <a *ngIf="addressString ==''" class="text-sm font-semibold underline text-canary hover:cursor-pointer" routerLink="/shipping-address">
                    no address
                </a>

            </div>
        </div>
        <div class="flex flex-col">
            <div class="flex flex-row justify-between px-3">
                <h1 class="text-xl font-semibold">
                    Subtotal
                </h1>
                <h1 class="text-xl font-semibold">
                    R{{subTotal}}.00
                </h1>
            </div>
            <div class="flex flex-row justify-between px-3">
                <h1 class="text-xl font-semibold">
                    Local Shipping
                </h1>
                <h1 class="text-xl font-semibold">
                    R{{shipping}}.00
                </h1>
            </div>
            <div class="flex flex-row justify-between px-3">
                <h1 class="text-xl font-semibold">
                    Total
                </h1>
                <h1 class="text-xl font-semibold">
                    R{{totalCost}}.00
                </h1>
            </div>
    </div>

    <button *ngIf="addressString!=''"
    class="text-black bg-canary w-full h-12 mt-4 rounded-md"
    angular4-paystack
    [paystackOptions]="options"
    (onClose)="paymentCancel()"
    (paymentInit)="paymentInit()"      
    (callback)="paymentDone($event)"
    [class]="'btn btn-primary btn-lg'"
  >
    <p *ngIf="addressString!=''"> Place Order</p>
  </button>
  
  <button *ngIf="addressString==''"
  class="text-black bg-canary w-full h-12 mt-4 rounded-md"
  routerLink="/shipping-address">
  <p > Add address</p>
</button>

    <!-- <button
    class="text-black bg-canary w-full h-12 mt-4 rounded-md"
    [disabled]="addressString ==''"
    (click)="placeOrder()">

    </button> -->

</div>


