
<!-- transaction approved page -->
<div class="h-screen mt-10 text-white">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center   text-3xl font-semibold">Transaction Failed or Cancelled</h1>
        <p class="text-center text-white mb-6">Your payment has been approved</p>
        <div class="o-circle c-container__circle o-circle__sign--failure">
            <div class="o-circle__sign"></div>  
          </div>
        <div class="text-center">
          <p class="text-white" >Click <a [routerLink]="['/']" class="underline font-semibold">here</a> to back to the home page</p>
        </div>
      </div>
    </div>
  