<div class="flex flex-col left-0 right-0 max-w-screen-xl overflow-x-hidden"
>
    <!-- top of page -->
    <div id="topOfPage" class="flex flex-wrap h-24 ml-4 w-full max-w-screen-xl">
        <h1 class="text-3xl text-white underline mt-2">
            Your Wishlist
        </h1>

    </div>
    <div class="flex flex-row">
        <section class="justify-normal">
            <div class="container overflow-x-hidden justify-start">
                <div class="flex flex-wrap w-screen space-x-0">   
        
                    <div class="animate-fade-down animate-once animate-ease-linear mb-12 xl:w-1/4 lg:w-1/3 md:w-1/2 " *ngFor="let kit of kitArray">
                        <div class="group mb-5 bg-black min-w-[270px] md:ml-4 rounded-lg shadow transition-transform duration-300 ease-in-out hover:scale-105 h-[405px]"  >  
                                <mat-icon fontIcon="favorite_border" 
                                    matTooltipPosition="above"
                                    matTooltip="Add to wishlist"
                                    (click)="removeFromWishlist(kit)" 
                                    class="float-right fixed md:top-8 md:right-5 z-30 text-black hover:cursor-pointer hover:block xs:-top-20 ">
                                </mat-icon>
                                <img [routerLink]="['/product', kit.name]"
                                class=" z-0 w-full sticky h-4/5 mx-auto aspect-[5/2]" src="{{kit.frontImage}}" alt="{{kit.name}}">
            
                                <h3 [routerLink]="['/product', kit.name]"
                                matTooltipPosition="above"
                                matTooltip="{{kit.name}}"
                                class="line-clamp-2 z-10 text-white text-base text-center group-hover:underline mt-3 ">
                                    {{kit.name}}
                                </h3>
                                <div class=" mx-auto text-center font-semibold ">
                                    <h1 class="z-10 text-white text-center text-sm">R{{kit.price}}.00</h1>
                                </div>
                            </div>
                    </div>
                    <div class="text-center justify-center items-center w-screen mx-auto text-white text-2xl mt-5 xs:h-screen max-w-screen-md" *ngIf="kitArray.length ==0">
                        Your Wishlist is Empty!
                        <div>
                            <a routerLink="/sport-teams/Football" class="text-base underline hover:text-canary">Continue shopping</a>
                        </div>
                    </div>
        
                </div>
            </div>
        </section>
    </div>
</div>