<div class=" h-screen overflow-x-hidden mt-8">
    <p class="text-white font-semibold text-3xl ml-3">Placed Orders</p>

    <div class="sm:flex sm:items-center sm:justify-between ml-3">
        <div>
            <div class="flex items-center gap-x-3">
                <h2 class="text-lg font-medium mt-3 text-white">Number Of Orders: {{orders.length}} </h2>

                <span class="px-3 py-1 text-xs rounded-full">Audit</span>
            </div>

            <p class="mt-2 text-sm text-white">These are all orders placed for the month of {{month|date:'MMMM'}}</p> 
           <button routerLink="/view-all-orders" class="bg-grey text-white p-2 hover:bg-canary hover:text-black rounded-sm mt-3">
                View All Orders
            </button>
        </div>


        <div class="flex items-center mt-4 gap-x-3">
      
           
        </div>
    </div>
    <div class="flex flex-col mt-6 " >
        <div class="-ml-5 overflow-x-auto ">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden md:rounded-lg">
                    <table class="min-w-full divide-y">
                        <thead class="bg-darkgrey w-full">
                            <tr>
                                <th scope="col" class="py-3.5 px-4 w-[150px] text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <div class="flex items-center gap-x-1">
                                        <span class="font-medium text-white">Order Number</span>
                                    </div>
                                </th>
                                <th scope="col" class="py-3.5 px-4 w-[150px] text-sm font-normal text-left rtl:text-right">
                                    <div class="flex items-center gap-x-1">
                                        <span class="font-medium text-white">Image</span>
                                    </div>
                                </th>
                                <th scope="col" class="py-3.5 px-4 w-[200px] text-sm font-normal text-left rtl:text-right">
                                    <div class="flex items-center gap-x-3">
                                        <span class="font-medium text-white">Name(Size)</span>
                                    </div>
                                </th>
                                <th scope="col" class="py-3.5 px-2 text-sm font-normal text-left rtl:text-right">
                                    <div class="flex items-center gap-x-3">
                                        <span class="font-medium text-white">User</span>
                                    </div>
                                </th>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right">
                                    <div class="flex items-center gap-x-3">
                                        <span class="font-medium text-white">Action</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        
                        <tbody  class="bg-white divide-y " *ngFor="let order of orders">
                            <tr *ngIf="orders.length > 0">
                                <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                    <p class="text-sm font-normal">{{order.uniqueOrdenum}}</p>
                                </td>
                                <td class=" flex flex-col px-4 py-4 text-sm font-medium whitespace-nowrap">
                                    <img class="w-24 hover:cursor-pointer" src="{{order.frontImage}}" (click)="viewImage(order)">
                                    <p *ngIf="order.customName != ''" class="text-sm font-normal ">{{order.customName}}</p>
                                    <p *ngIf="order.customNumber != 0" class="text-sm font-normal">{{order.customNumber}}</p>
                                </td>
                                <td class="px-8 py-4 text-sm font-medium whitespace-nowrap">
                                    <p class="text-sm font-normal">{{order.name}} </p>
                                    <p class="text-sm font-normal">{{order.size}} ({{order.quantity}}) </p>
                                </td>
                                <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                    <a (click)="getUserDetails(order)" class="text-sm font-normal underline hover:cursor-pointer">{{order.user?.name +" "+ order.user?.surname}}</a>
                                </td>
                                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                </td>
                            </tr>

                         
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- image modal -->
<div *ngIf="fullScreenImageModal" class="relative z-50" aria-labelledby="modal-title" role="dialog" aria-modal="true" (click)="closeModal()">
    <div class="fixed inset-0 bg-black bg-opacity-75 transition-opacity" ></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full max-w-md mx-auto justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative object-contain transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 ">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="">
                <div class="mt-2 mx-auto">
                    <img src="{{kitOrder.frontImage}}" alt="{{kitOrder.name}}" class="text-black aspect-ratio: auto; object-cover ">
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<!-- User Modals -->
<div *ngIf="userModal" class="relative z-50" aria-labelledby="modal-title" role="dialog" aria-modal="true">

    <div class="fixed inset-0 bg-black bg-opacity-75 transition-opacity"  (click)="closeModal()"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">User details</h3>
                <div class="mt-2">
                    <p class="text-sm">Full Name: <b>{{userObj.name + " "+ userObj.surname}}</b></p>
                    <p class="text-sm">Email: <b>{{userObj.email}}</b></p>
                    <p class="text-sm">Phone Number: <b>{{userObj.phoneNumber}}</b></p>
                    <p class="text-sm">Address: <b>{{kitOrder.address}}</b></p>
                    <p class="text-sm">Province: <b>{{kitOrder.orderDate | date}}</b></p>
                </div>
            </div>
            </div>
        </div>
        <div class="px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button (click)="closeModal()" type="button" class="inline-flex w-full justify-center rounded-md bg-darkgrey px-3 py-2 text-sm font-semibold text-white shadow-sm  sm:ml-3 sm:w-auto" >Close</button>
        </div>
        </div>
    </div>
    </div>
</div>
