

<nav class=" border-gray-200 bg-black" *ngIf="!token && admin ==false">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4" >
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/images/vintagekitman-bg-clear.png" class="h-14  " alt="Flowbite Logo">

    </a>
    <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
        <li>
          <div class="items-center justify-between w-full=" id="navbar-search">
            <div class="relative">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
              </div>
              <input type="text" id="search-navbar" class="block w-full text-black p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Search...">
            </div>
          </div>
        </li>
        <li>
          <button (click)="toggleDropDown()" class="flex items-center text-white justify-between w-full mt-2 px-3 text-gray-900 rounded hover:underline md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-aut0"
           >Shop 
          <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
          </button>
          <!-- Dropdown menu -->
          <div *ngIf="isVisible" class="absolute z-30 bg-black font-normal divide-y divide-gray-100 rounded-lg shadow w-44 text-white">
            <ul class="py-2 text-sm">
              <li *ngFor="let sport of sports" class="h-9">
                <button (click)="toggleDoubleDropDown(sport)" [routerLink]="['/sport-teams', sport.name]"
                class="flex flex-row px-4 py- hover:opacity-50">{{sport.name}} 
                  <svg *ngIf="sport.leagues.length > 1" class="mt-1 w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  </svg>
                </button>
                <div *ngIf="sport.isDoubleDropDownVisible && sport.leagues.length > 1" class="z-10 absolute left-24 bg-darkgrey divide-y divide-gray-100 rounded-lg shadow w-44 ">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="doubleDropdownButton">
                    <li *ngFor="let league of sport.leagues">
                      <a [routerLink]="['/teams', league.name]" (click)="toggleDropDown()" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{league.name}}</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="h-9 py-2 border-t-darkgrey border-2 border-x-0 border-b-0" routerLink="custom-order">
                <button routerLink="custom-order" class="flex flex-row px-4 py- hover:opacity-50"> 
                  Custom Order
                </button>
              </li>
            </ul>
          </div>

        </li>
        <li>
          <a routerLink="About-Us" class="block py-2 mt-2 text-white px-3 rounded hover:underline md:border-0 md:hover:text-blue-700 md:p-0">About Us</a>
        </li>
        <li>
          <a routerLink="cart" class="block py-2 px-3 mt-2 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">
            <mat-icon *ngIf="cartItems>0" routerLink="cart" aria-hidden="false" matBadge="{{cartItems}}" fontIcon="shopping_cart"></mat-icon>
            <mat-icon *ngIf="cartItems==0" aria-hidden="false" routerLink="cart" fontIcon="shopping_cart"></mat-icon>

          </a>
        </li>
        <li (click)="toggleUserDropDown()">
          <a  class=" flex flex-row space-x-2 py-2 px-3 mt-2 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">
            <p class="font-normal">user</p>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
            <svg class="w-2.5 h-2.5 ms-2.5 mt-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
          </a>
          <!-- User drop down -->
          <div  *ngIf="isUserVisible" class=" absolute z-30 font-normal divide-y divide-gray-100 rounded-lg shadow w-24 text-white bg-black">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400">
              <li class=" flex flex-row space-x-1" routerLink="login">
                <button  class="block px-4 hover:text-canary">Sign in</button>
              </li>
              <li routerLink="register">
                <a  class="block px-4 py-2 hover:text-canary">Register</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class=" border-gray-200 bg-black" *ngIf="token && admin == false">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4" >
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/images/vintagekitman-bg-clear.png" class="h-14  " alt="Flowbite Logo">
    </a>
    <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
        <li>
          <form [formGroup]="searchForm" (submit)="search(searchForm.get('searchTerm')?.value)" class="items-center justify-between w-full" id="navbar-search">
            <div class="relative">
              <input formControlName="searchTerm" type="text" id="search-navbar" class="block w-full text-black p-2 text-sm border rounded-lg" placeholder="Search...">
              <button type="submit" class="absolute inset-y-0 end-0 flex items-center ps-3 ">
                <svg class="w-4 h-4 mr-2 hover:cursor-pointer z-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
              </button>
            </div>
          </form>
        </li>
        <li>
          <button (click)="toggleDropDown()" class="flex items-center text-white justify-between w-full mt-2 px-3 rounded hover:underline md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto"
           >Shop 
          <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
          </button>
          <!-- Dropdown menu -->
          <div *ngIf="isVisible" class="absolute z-30 bg-black font-normal divide-y divide-gray-100 rounded-lg shadow w-44 text-white">
            <ul class="py-2 text-sm">
              <li *ngFor="let sport of sports" class="h-9">
                <button (click)="toggleDoubleDropDown(sport)" [routerLink]="['/sport-teams', sport.name]"
                class="flex flex-row px-4 py- hover:opacity-50">{{sport.name}} 
                  <svg *ngIf="sport.leagues.length > 1" class="mt-1 w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  </svg>
                </button>
                <div *ngIf="sport.isDoubleDropDownVisible && sport.leagues.length > 1" class="z-10 absolute left-24 bg-darkgrey divide-y divide-gray-100 rounded-lg shadow w-44 ">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="doubleDropdownButton">
                    <li *ngFor="let league of sport.leagues">
                      <a [routerLink]="['/teams', league.name]" (click)="toggleDropDown()" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{league.name}}</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="h-9 py-2 border-t-darkgrey border-2 border-x-0 border-b-0" routerLink="custom-order">
                <button routerLink="custom-order" class="flex flex-row px-4 py- hover:opacity-50"> 
                  Custom Order
                </button>
              </li>
            </ul>
          </div>

        </li>
        <li>
          <a routerLink="About-Us" class="block py-2 mt-2 text-white px-3 rounded hover:underline md:border-0 md:hover:text-blue-700 md:p-0">About Us</a>
        </li>
        <li>
          <a routerLink="cart" class="block py-2 px-3 mt-2 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">
            <mat-icon *ngIf="cartItems>0" routerLink="cart" aria-hidden="false" matBadge="{{cartItems}}" fontIcon="shopping_cart"></mat-icon>
            <mat-icon *ngIf="cartItems==0" aria-hidden="false" routerLink="cart" fontIcon="shopping_cart"></mat-icon>
          </a>
        </li>
        <li (click)="toggleUserDropDown()" class="hover:cursor-pointer">
          <a  class=" flex flex-row space-x-2 py-2 px-3 mt-2 text-white rounded md:hover:bg-transparent md:border-0 md:p-0">
            <p class="font-normal text-white pt-0.5">{{userDetails.name}}</p>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
            <svg class="w-2.5 h-2.5 ms-2.5 mt-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
          </a>
          <!-- User drop down -->
          <div  *ngIf="isUserVisible" class="fixed right-5 z-30 font-normal divide-y rounded-lg shadow w-48 text-white bg-black">
            <ul class="py-2 text-sm space-y-2 ">
              <li routerLink="register">
                <button  class="flex flex-row px-4 hover:text-canary space-x-1 ">
                  <mat-icon fontIcon="mode_edit"></mat-icon>   
                   <p class="mt-1">
                    My details
                  </p>
                </button>
            </li>
              <li class="flex flex-row space-x-1" routerLink="/my-orders">
                <button  class="flex flex-row block px-4 hover:text-canary space-x-1">
                    <mat-icon fontIcon="shopping_basket"></mat-icon> 
                    <p class="mt-1">
                      My Orders
                    </p>
                </button>
              </li>
              <li routerLink="/wishlist">
                  <button  class="flex flex-row px-4 hover:text-canary space-x-1 ">
                    <mat-icon fontIcon="favorite_border"></mat-icon>   
                     <p class="mt-1">
                      Wishlist
                    </p>
                  </button>
              </li>
              <li routerLink="register">
                <button  class="flex flex-row px-4 hover:text-canary space-x-1">
                  <mat-icon fontIcon="location_on"></mat-icon> 
                  <p class="mt-1">
                    Shipping address
                  </p>
                </button>
              </li>
              <li class="h-9 py-2 border-t-darkgrey border-2 border-x-0 border-b-0" routerLink=""
                  (click)="signOut()">
                <button routerLink="" class="flex flex-row px-4 py- hover:opacity-50"> 
                  <mat-icon fontIcon="logout"></mat-icon>
                  <p class="mt-1">
                    Sign Out
                  </p>
                </button>
              </li>
              
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>




<ng-container *ngIf="admin">
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="w-1/6">
      <ul class="space-y-2 font-medium text-black mt-3 ml-5">
        <li>
          <a href="#" class="flex items-center p-2 rounded-lg group mr-5">
            <img src="/assets/images/vintagekitman-blacktext.png" class="h-8 mx-auto" alt="Flowbite Logo">
          </a>
       </li>
        <li>
           <a routerLink="/placed-orders" class="flex items-center p-2 rounded-lg group">
            <mat-icon fontIcon="shopping_basket" class="w-5 h-5"></mat-icon>
              <span class="ms-3">Orders</span>
           </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 rounded-lg group">
             <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                <path d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z"/>
             </svg>
             <span class="flex-1 ms-3 whitespace-nowrap">Products</span>
          </a>
       </li>
        <li>
           <a href="#" class="flex items-center p-2 rounded-lg group">
              <svg class="flex-shrink-0 w-5 h-5 transition duration-75" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                 <path d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Inbox</span>
           </a>
        </li>
        <li>
           <a href="#" class="flex items-center p-2 rounded-lg group">
              <svg class="flex-shrink-0 w-5 h-5 transition duration-75" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                 <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Users</span>
           </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 rounded-lg group">
             <svg class="w-5 h-5 transition duration-75 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
             </svg>
             <span class="ms-3">Reports</span>
          </a>
       </li>
       <hr class="bg-darkgrey w-full ">
        <li (click)="signOut()">
           <a href="#" class="flex items-center p-2 rounded-lg group  border-t-darkgrey">
              <svg class="flex-shrink-0 w-5 h-5 transition duration-75" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Sign Out</span>
           </a>
        </li>
     </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>



<div (click)="collapseAll()" *ngIf="!admin">
  <router-outlet ></router-outlet>
</div>


<footer class="bg-white bg-gray-900" (click)="collapseAll()">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
      <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a routerLink="" class="flex items-center">
                <img src="/assets/images/vintagekitman-blacktext.png" class="md:h-12 sm:h-8 me-3 max-h-9" alt="Vintage Kitman Logo" />
            </a>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3 right-0">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Follow us</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="https://github.com/themesberg/flowbite" class="hover:underline ">Instagram</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Facebook</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase ">Legal</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Returns Policy</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Vintage Kitman</a>. All Rights Reserved.
        </span>
        <div class="flex mt-4 sm:justify-center sm:mt-0">
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                      <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                  </svg>
                <span class="sr-only">Facebook page</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                <img src="https://i.ibb.co/LtMbHTg/image-2.png" class="w-4 h-4">
                <span class="sr-only">Twitter page</span>
            </a>
        </div>
    </div>
  </div>
</footer>