
<!-- transaction approved page -->
<div class="h-screen mt-10">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center  text-green text-3xl font-semibold">Transaction Approved</h1>
      <p class="text-center text-white mb-6">Your payment has been approved</p>
      <div class="success-checkmark mt-6">
        <div class="check-icon">
           <span class="icon-line line-tip"></span>
           <span class="icon-line line-long"></span>
           <div class="icon-circle"></div>
           <div class="icon-fix"></div>
        </div>
     </div>
      <div class="text-center">
        <p class="text-white">This page will refresh automatically in {{countDown}} seconds</p>
        <p class="text-white">please do not close the page or refresh</p>
      </div>
    </div>
  </div>
