<div class="h-screen overflow-x-hidden mt-8"
[ngClass]="{ 'bg-black opacity-60': showCreateModal ||deleteModal||editModal}">
>
    <p class="text-white font-semibold text-3xl ml-3">Teams</p>

    <div class="sm:flex sm:items-center justify-between ml-3">
        <div>
            <p class="mt-2 text-sm text-white">These are all teams for the <b>{{leagueName}}</b> </p>
        </div>

        <div class="flex items-center mt-4 gap-x-3 mr-8">
            <button type="submit"
            (click)="toggleCreateModal()"
            class="w-full text-white bg-grey hover:bg-canary hover:text-black focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            <p >Create</p>
        </button> 
           
        </div>
    </div>
    <div class="flex flex-col mt-6" >
        <div class="-ml-5 overflow-x-auto ">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden border md:rounded-lg">
                    <table class="min-w-full divide-y">
                        <thead class="bg-white">
                            <tr>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right">
                                    <div class="flex items-center gap-x-3">
                                        <span class="font-medium ">Team Name</span>

                                    </div>
                                </th>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right">
                                    <div class="flex items-center gap-x-3">
                                        <span class="font-medium ">Team Logo</span>

                                    </div>
                                </th>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <div class="flex items-center gap-x-3">
                                        <span class="font-medium">View Kits</span>

                                    </div>
                                </th>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <div class="flex items-center gap-x-3">
                                        <span class="font-medium text-white"> </span>

                                    </div>
                                </th>
                            </tr>
                        </thead>
                        
                        <tbody  class="bg-white divide-y " *ngFor="let team of teamArray">

                            <tr *ngIf="teamArray.length > 0">

                                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{team.name}}</p>
                                </td>
                                <td class=" flex flex-col px-4 py-4 text-sm font-medium whitespace-nowrap">
                                    <img class="w-12 h-12" src="{{team.logo}}">
                                </td>
                                <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                    <a [routerLink]="['/view-kits', team.name]" class="text-sm font-normal hover:text-canary">View Kits</a>
                                </td>
                             
                               
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items-center gap-x-6">
                                        <!-- Delete button -->
                                        <button (click)="viewDeleteModal(team)" class="text-gray-500 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                            </svg>
                                        </button>
                                         <!--Update button -->   
                                        <button (click)="viewEditModal(team)" class="text-gray-500 transition-colors duration-200 dark:hover:text-yellow-500 dark:text-gray-300 hover:text-yellow-500 focus:outline-none">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                         
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- create team modal -->
<div class="fixed top-0 left-0 right-0 z-50  inset-0 flex items-center justify-center mb-auto" *ngIf="showCreateModal">
    <div class="fixed inset-0 opacity-75 transition-opacity"
        [ngClass]="{ 'opacity-100': showCreateModal, 'opacity-0': !showCreateModal }"></div>
    <div class="bg-white rounded-lg animate-jump-in"
        [ngClass]="{ 'scale-100': showCreateModal, 'scale-95': !showCreateModal }">

        <div class="relative w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-5 border-b rounded-t">
                    <h3 class="text-xl ">
                       Add Team
                    </h3>
                    <button (click)="toggleCreateModal()" type="button" class="bg-transparent rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:text-white" data-modal-hide="small-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <form  [formGroup]="createForm" (submit)="createTeam()" >
                        <div class="mb-6 ">
                            <label for="name" class="block mb-2 text-sm font-medium text-white">Name</label>
                            <input  
                            formControlName="name"
                            [ngClass]="{'border-txtRed': (createForm.get('name')?.touched || formSubmitted) && createForm.get('name')?.invalid, 'border-gray-400': !createForm.get('name')?.invalid || !formSubmitted }"
                            type="text" 
                     placeholder="Enter team name" 
                     class="w-full py-1.5 text-gray-700 bg-white border rounded-lg md:w-80 placeholder-gray-400/70 rtl:pr-11 rtl:pl-5 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none">
                     <p *ngIf="createForm.controls['name'].invalid && (formSubmitted || createForm.controls['name'].touched)"
                     class="bottom-0 text-xs text-txtRed">This field is required!</p>
                        </div>
                        <div class="flex items-center justify-center w-full  " >
                            <div class="c w-full" *ngIf="base64Image">
                                <div for="dropzone-file"
                                    class=" relative flex flex-col items-center justify-center w-full h-64 border-2 rounded-lg cursor-pointer">
                                    <span class="sr-only">Notifications</span>
                                    <span (click)="clearImageUpload()" class="absolute inline-flex items-center bg-white justify-center w-6 h-6 text-xs font-bold border-2 rounded-full -top-2 -right-2 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                                        <path fill-rule="evenodd" d="M5.293 4.293a1 1 0 011.414 0L10 8.586l3.293-3.293a1 1 0 111.414 1.414L11.414 10l3.293 3.293a1 1 0 01-1.414 1.414L10 11.414l-3.293 3.293a1 1 0 01-1.414-1.414L8.586 10 5.293 6.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                      </svg>
                                    </span>
                                    <img style="height: 100px;" [src]="base64Image" *ngIf="base64Image" alt="Uploaded Image">
                                </div>                   
                            </div>
            
                            <!-- Upload image section -->
                            <label for="dropzone-file" *ngIf="!base64Image" (drop)="onImageDrop($event)"  (dragover)="onDragOver($event)"
                                class="flex flex-col items-center justify-center w-full h-36 border-2 border-dashed rounded-lg cursor-pointer">
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <svg aria-hidden="true" class="w-10 h-10 mb-3" fill="none" stroke="currentColor"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                                        </path>
                                    </svg>
                                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                                            upload</span> or <span class="text-gray-300">drag and drop in progress</span></p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                </div>
                                <input id="dropzone-file" type="file" class="hidden" (change)="handleFileInput($event)" />
                            </label>
                        </div> 
                        <!-- Modal footer -->
                        <div class="flex items-center mt-4 space-x-2 ">
                            <button type="submit" class="bg-grey text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-canary border-black border-1">Create</button>
                            <button (click)="toggleCreateModal()" class=" bg-grey text-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-black text-sm font-medium px-5 py-2.5 focus:z-10">Cancel</button>
                        </div>
            
                    </form>
                </div>

            </div>
        </div>
</div>
</div>

<!-- delete team modal -->
<div class="fixed top-0 left-0 right-0 z-50  inset-0 flex items-center justify-center mb-auto" *ngIf="deleteModal">
    <div class="fixed inset-0 bg-gray-900 opacity-75 transition-opacity"
        [ngClass]="{ 'opacity-100': deleteModal, 'opacity-0': !deleteModal }"></div>
    <div class="bg-white rounded-lg animate-jump-in"
        [ngClass]="{ 'scale-100': deleteModal, 'scale-95': !deleteModal }">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow animate-jump-in">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-5 border-b rounded-t">
                <h3 class="text-xl font-medium">
                  Delete Team
                </h3>
                <button  (click)="closeDeleteModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="edit-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <div class="p-6 text-center">
                    <img src="{{teamObject.logo}}" alt="{{teamObject.name}} logo" class="mx-auto mb-4 w-12 h-12">
                    <h3 class="mb-5 text-lg font-normal">Are you sure you want to delete {{teamObject.name}}?</h3>
                    <button (click)="deleteTeam(teamObject)" class="text-white bg-txtRed focus:ring-4 focus:outline-none font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                        Yes, I'm sure
                    </button>
                    <button (click)="closeDeleteModal()" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No, cancel</button>
                </div>
        </div>
    </div>
    </div>
</div>

<!-- Update modal -->
<div class="fixed top-0 left-0 right-0 z-50  inset-0 flex items-center justify-center mb-auto" *ngIf="editModal">
    <div class="fixed inset-0  opacity-75 transition-opacity"
        [ngClass]="{ 'opacity-100': editModal, 'opacity-0': !editModal }"></div>
    <div class="bg-white rounded-lg animate-jump-in"
        [ngClass]="{ 'scale-100': editModal, 'scale-95': !editModal }">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow animate-jump-in">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                  Edit Team
                </h3>
                <button  (click)="toggleEditModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="edit-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <form (submit)="updateTeam()" [formGroup]="updateForm" >                      
                    <div class="mb-6 ">
                        <label for="email" class="block mb-2 text-sm font-medium dark:text-white">Name</label>
                        <input 
                        value="{{teamObject.name}}"
                        formControlName="name"
                        name="name"
                        type="text" 
                 placeholder="Real Madrid" 
                 [ngClass]="{'border-red-500': (updateForm.get('name')?.touched || formSubmitted) && updateForm.get('name')?.invalid, 'border-gray-400': !updateForm.get('name')?.invalid || !formSubmitted }"
                 class="w-full py-1.5 px-1.5 text-gray-700 bg-white border rounded-lg md:w-80 placeholder-gray-400/70 rtl:pr-11 rtl:pl-5 focus:outline-none">
                 <p *ngIf="updateForm.controls['name'].invalid && (formSubmitted || updateForm.controls['name'].touched)"
                 class="bottom-0 text-xs text-red-600 dark:text-red-400">This field is required!</p>
                    </div>
                    <div class="mb-6 ">
                    <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image</label>
          
                    </div>

                    <div class="flex items-center justify-center w-full  " >
                        <div class="c w-full" *ngIf="base64Image">
                            <div for="dropzone-file"
                                class=" relative flex flex-col items-center justify-center w-full h-64 border-2 border-blue-300  rounded-lg cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                <span class="sr-only">Notifications</span>
                                <span (click)="clearImageUpload()" class="absolute inline-flex items-center bg-black justify-center w-6 h-6 text-xs font-bold text-white border-2 border-red-500 rounded-full -top-2 -right-2 dark:border-gray-900">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 text-red-400 dark:text-gray-600">
                                    <path fill-rule="evenodd" d="M5.293 4.293a1 1 0 011.414 0L10 8.586l3.293-3.293a1 1 0 111.414 1.414L11.414 10l3.293 3.293a1 1 0 01-1.414 1.414L10 11.414l-3.293 3.293a1 1 0 01-1.414-1.414L8.586 10 5.293 6.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                  </svg>
                                </span>
                                <img style="height: 100px;" [src]="base64Image" *ngIf="base64Image" alt="Uploaded Image">
                            </div>                   
                        </div>
        
                        <!-- Upload image section -->
                        <label for="dropzone-file" *ngIf="!base64Image" (drop)="onImageDrop($event)"  (dragover)="onDragOver($event)"
                            class="flex flex-col items-center justify-center w-full h-36 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg aria-hidden="true" class="w-10 h-10 mb-3 text-blue-400" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                                    </path>
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                                        upload</span> or <span class="text-gray-300">drag and drop in progress</span></p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                            </div>
                            <input id="dropzone-file" type="file" class="hidden" (change)="handleFileInput($event)" />
                        </label>
                    </div> 
                    <div class="flex items-center space-x-4 mt-4">
                        <button type="submit" class="bg-grey focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-canary ">
                             Update
                        </button>
                        <button type="button" (click)="toggleEditModal()" class="bg-grey inline-flex items-center hover:text-white border hover:bg-txtRed focus:ring-4 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center">
                            Cancel
                        </button>
                    </div>
        
                </form>
            </div>

        </div>
    </div>
</div>