<div class=" h-screen overflow-x-hidden mt-8"
[ngClass]="{ 'bg-black opacity-60': showCreateModal ||deleteModal||editModal}">
>
    <p class="text-white font-semibold text-3xl ml-3">Sports</p>

    <div class="sm:flex sm:items-center justify-between ml-3">
        <div>
            <p class="mt-2 text-sm text-white">These are all Sport categories on the vintage kitman website</p>
        </div>

        <div class="flex items-center mt-4 gap-x-3 mr-8">
            <button (click)="toggleCreateModal()"
            class="w-full text-white bg-grey hover:bg-canary hover:text-black focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            <p >Create</p>
        </button> 
           
        </div>
    </div>
    <div class="flex flex-col mt-6" >
        <div class="-ml-5 overflow-x-auto ">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden border md:rounded-lg">
                    <table class="min-w-full divide-y">
                        <thead class="bg-white">
                            <tr>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right">
                                    <div class="flex items-center gap-x-3">
                                        <span class="font-medium ">Sport Name</span>

                                    </div>
                                </th>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <div class="flex items-center gap-x-3">
                                        <span class="font-medium">View Leagues</span>

                                    </div>
                                </th>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                    <div class="flex items-center gap-x-3">
                                        <span class="font-medium text-white"> </span>

                                    </div>
                                </th>
                            </tr>
                        </thead>
                        
                        <tbody  class="bg-white divide-y " *ngFor="let sport of Sports">

                            <tr *ngIf="Sports.length > 0">

                                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                                    <p class="text-sm font-normal text-gray-600 dark:text-gray-400">{{sport.name}}</p>
                                </td>
                                <td class="px-4 py-4 text-sm font-medium text-gray-700 whitespace-nowrap">
                                    <a [routerLink]="['/view-leagues', sport.name]" class="text-sm font-normal hover:text-canary">View Leagues</a>
                                </td>
                             
                                <!-- <td class="px-4 py-4 text-sm text-gray-500 dark:text-gray-300 whitespace-nowrap">to do </td> -->
                               
                                <td class="px-4 py-4 text-sm whitespace-nowrap">
                                    <div class="flex items-center gap-x-6">
                                        <!-- Delete button -->
                                        <button (click)="viewDeleteModal(sport)"  class="text-gray-500 transition-colors duration-200 dark:hover:text-red-500 dark:text-gray-300 hover:text-red-500 focus:outline-none">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                            </svg>
                                        </button>
                                         <!--Update button -->   
                                        <button (click)="viewEditModal(sport)" class="text-gray-500 transition-colors duration-200 dark:hover:text-yellow-500 dark:text-gray-300 hover:text-yellow-500 focus:outline-none">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                         
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create sport -->
<div class="fixed top-0 left-0 right-0 z-50  inset-0 flex items-center justify-center mb-auto" *ngIf="showCreateModal">
    <div class="fixed inset-0 bg-gray-900 opacity-75 transition-opacity"
        [ngClass]="{ 'opacity-100': showCreateModal, 'opacity-0': !showCreateModal }"></div>
    <div class="bg-white rounded-lg p-3 transform transition-transform duration-300 ease-in-out"
        [ngClass]="{ 'scale-100': showCreateModal, 'scale-95': !showCreateModal }">
        <div class="relative bg-white rounded-lg ">
             <!-- Modal header -->
             <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold">
                   Add Sport
                </h3>
                <button (click)="toggleCreateModal()" type="button" data-modal-target="updateFunctionModal" data-modal-hide="updateFunctionModal" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>

          <!-- Modal body -->
          <form  [formGroup]="createSportForm" (submit)="createSport()" >
            <div class="grid gap-4 mb-4 sm:grid-cols-2">
                <div  class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium">Name</label>
                    <input type="text" formControlName="name" id="name" class="bg-grey border-1 border-black text-sm  text-black rounded-lg block w-full p-2.5" placeholder="Running"
                    [ngClass]="{'border-1 border-txtRed opacity-50': (createSportForm.get('name')?.touched || formSubmitted) && createSportForm.get('name')?.invalid , 'border-gray-400': !createSportForm.get('name')?.invalid || !formSubmitted }" class="block w-full py-3 border-1 rounded-lg px-3 focus:outline-none focus:ring focus:ring-opacity-40">
                    <p *ngIf="createSportForm.controls['name'].invalid && (formSubmitted || createSportForm.controls['name'].touched)" class="bottom-0 text-xs text-txtRed" >This field is required!</p>              
                </div >

            </div>
            <div class="flex items-center space-x-4">
                <button type="submit" class="bg-grey focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-canary ">
                     Create
                </button>
                <button type="button" (click)="toggleCreateModal()" class="bg-grey inline-flex items-center hover:text-white border hover:bg-txtRed focus:ring-4 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center">
                    Cancel
                </button>
            </div>
        </form>
     
    </div>
</div>
</div>
<!-- Update modal -->
<div class="fixed top-0 left-0 right-0 z-50  inset-0 flex items-center justify-center mb-auto" *ngIf="editModal">
    <div class="fixed inset-0 bg-gray-900 opacity-75 transition-opacity"
        [ngClass]="{ 'opacity-100': editModal, 'opacity-0': !editModal }"></div>
    <div class="bg-white rounded-lg animate-jump-in"
        [ngClass]="{ 'scale-100': editModal, 'scale-95': !editModal }">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 animate-jump-in">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                  Edit Sport
                </h3>
                <button  (click)="toggleEditModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="edit-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <form (submit)="updateSport()" [formGroup]="updateForm" >
                        
                        
                    <div class="mb-6 ">
                        <label for="email" class="block mb-2 text-sm font-medium  dark:text-white">Name</label>
                        <input 
                        [(ngModel)]="sportObj.name"
                        formControlName="name"
                        name="name"
                        type="text" 
                 placeholder="Love Emoji" 
                 [ngClass]="{'border-txtRed': (updateForm.get('name')?.touched || formSubmitted) && updateForm.get('name')?.invalid, 'border-gray-400': !updateForm.get('name')?.invalid || !formSubmitted }"
                 class="w-full py-1.5 px-2 bg-white border rounded-lg md:w-80  rtl:pr-11 rtl:pl-5 focus:outline-none">
                 <p *ngIf="updateForm.controls['name'].invalid && (formSubmitted || updateForm.controls['name'].touched)"
                 class="bottom-0 text-xs text-red-600 dark:text-red-400">This field is required!</p>
                    </div>
                    <div class="flex items-center space-x-4 mt-4">
                        <button type="submit" class="bg-grey focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-canary ">
                             Update
                        </button>
                        <button type="button" (click)="toggleEditModal()" class="bg-grey inline-flex items-center hover:text-white border hover:bg-txtRed focus:ring-4 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center">
                            Cancel
                        </button>
                    </div>
        
                </form>
            </div>

        </div>
    </div>
</div>
<!-- delete sport modal -->
<div class="fixed top-0 left-0 right-0 z-50  inset-0 flex items-center justify-center mb-auto" *ngIf="deleteModal">
    <div class="fixed inset-0 bg-gray-900 opacity-75 transition-opacity"
        [ngClass]="{ 'opacity-100': deleteModal, 'opacity-0': !deleteModal }"></div>
    <div class="bg-white rounded-lg animate-jump-in"
        [ngClass]="{ 'scale-100': deleteModal, 'scale-95': !deleteModal }">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow animate-jump-in">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-5 border-b rounded-t">
                <h3 class="text-xl font-medium">
                  Delete Team
                </h3>
                <button  (click)="closeDeleteModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="edit-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <div class="p-6 text-center">
                    <h3 class="mb-5 text-lg font-normal">Are you sure you want to delete the sport {{sportObj.name}}?</h3>
                    <button (click)="deleteSport(sportObj)" class="text-white bg-txtRed focus:ring-4 focus:outline-none font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                        Yes, I'm sure
                    </button>
                    <button (click)="closeDeleteModal()" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No, cancel</button>
                </div>
        </div>
    </div>
    </div>
</div>
