<section class="bg-gradient-to-b from-blue-50 to-transparent dark:from-blue-900 dark:bg-gray-900">
    <div class="my-12 flex flex-col">
        <div class="container mx-auto flex-1 flex flex-col items-center justify-center">
            <div class="px-6 rounded shadow-md text-black lg:w-1/3 md:w-8/12 xs:w-10/12">
            <h2 class="mb-1  text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl text-white">
                Reset Password
            </h2>
            <p class="mb-1 text-sm text-center font-bold leading-tight tracking-tight text-gray-500 md:text-md text-white">Enter your new password </p>
            <form class="mt-4 lg:mt-5" [formGroup]="resetForm" (submit)="onSubmit()" >

                <!-- Start new password input -->
                <div>
                    <div class="items-center ">

                        <div class="flex flex-col">

                            <label for="password"
                            class="block mb-2 text-sm font-medium text-white">Password</label>
                            <input 
                            type="password"
                            class="block border p-3 rounded "
                            placeholder=" Password"
                            formControlName="password" /> <br>
                            <div *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched) || formSubmitted">
                                <p *ngIf="resetForm.get('password')?.hasError('required') " class= " text-sm text-txtRed">Password is required.</p>
                                <p *ngIf="resetForm.get('password')?.hasError('minlength')" class= " text-sm text-txtRed">Password must be at least 7 characters long.</p>
                                <p *ngIf="resetForm.get('password')?.hasError('pattern')" class= " text-sm text-txtRed">Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character.</p>
                              </div>           
                        </div>
                    </div>
                </div>
                <div>
                    <div class="items-center ">

                        <div class="flex flex-col">

                            <label for="password"
                            class="block mb-2 text-sm font-medium text-white">Confirm Password</label>
                            <input 
                            type="password"
                            [(ngModel)]="resetForm.value.confirmPassword"
                            class="block border p-3 rounded mb-2"
                            placeholder="Confirm Password"
                            formControlName="confirmPassword" />                    
                            <div class="text-txtRed mb-4" *ngIf="resetForm.value['confirmPassword'] != resetForm.value['password']">
                                Passwords do not match      
                            </div>
                        </div>
                    </div>
                </div>

                <button  type="submit" (click)="onSubmit()" class="w-full text-white bg-darkgrey mb-2 mt-4 rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Reset Password</button>

                <button type="button" routerLink="/login" class="w-full text-ba border border-black-400 bg-white hover:bg-red-500 focus:ring-4 
                focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Cancel</button>

            </form>
        </div>



       </div>
        
    </div>


</section>