<configuration>  
 <system.web>
   <!-- Add the customErrors tag here -->
   <customErrors mode="Off" />
 </system.web>

 <system.webServer>  
   <!-- Add the httpErrors tag here -->
   <httpErrors errorMode="Detailed"></httpErrors>

   <rewrite>  
     <rules>  
       <rule name="Angular Routes" stopProcessing="true">  
         <match url=".*" />  
         <conditions logicalGrouping="MatchAll">  
           <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />  
           <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />  
         </conditions>  
         <action type="Rewrite" url="/index.html" />  
       </rule>  
     </rules>  
   </rewrite>  
 </system.webServer>  
</configuration>