<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Enable detailed error messages -->
        <httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true"/>
    </system.webServer>
    <system.web>
        <!-- Enable detailed errors for ASP.NET apps -->
        <customErrors mode="Off"/>
        <compilation debug="true"/>
    </system.web>
</configuration>
