<div>

</div>
<div
  id="carouselExampleCaptions"
  class="relative"
  data-te-carousel-init
  data-te-ride="carousel">
  <!--Carousel indicators-->
  <div
    class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
    data-te-carousel-indicators>
    <button
      type="button"
      data-te-target="#carouselExampleCaptions"
      data-te-slide-to="0"
      data-te-carousel-active
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-current="true"
      aria-label="Slide 1"></button>
    <button
      type="button"
      data-te-target="#carouselExampleCaptions"
      data-te-slide-to="1"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 2"></button>
    <button
      type="button"
      data-te-target="#carouselExampleCaptions"
      data-te-slide-to="2"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 3"></button>
  </div>

  <!--Carousel items-->
  <div id="carouselExampleCaptions" class="relative" data-te-carousel-init data-te-ride="carousel">
    <!-- Carousel items -->
    <div class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
      <!-- Iterate through slides -->
      <div *ngFor="let slide of carouselslides; let i = index"
           class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
           [class.hidden]="activeSlide !== i"
           data-te-carousel-active
           data-te-carousel-item
           style="backface-visibility: hidden">
        <img [src]="slide.image" class="block w-full" alt="..." />
        <div class="absolute inset-x-[15%] top-5 left-5 hidden py-5 text-white md:block z-30">
          <h1 class="text-3xl font-bold">{{ slide.content.title }}</h1>
          <p>{{ slide.content.description }}</p>
          <button class="rounded-md w-32 mt-6 bg-black p-2 text-sm font-semibold text-white" routerLink="{{slide.content.route}}">
            {{ slide.content.buttonText }}
          </button>
        </div>
        <div
        class="absolute inset-x-[70%] top-5 right-5 hidden py-5  text-white md:block">
        <h1 class="text-3xl font-bold">
          {{ formatTime(countdown.days) }} days,
          {{ formatTime(countdown.hours) }} hours,
          {{ formatTime(countdown.minutes) }} minutes,
          {{ formatTime(countdown.seconds) }} seconds
      </h1>
        <p>
          Time remaining until our bulk order from our supplier.<br> <a class="underline hover:text-canary hover:cursor-pointer"> Find out more.</a>
        </p>
      </div>
      </div>
    </div>
  
    <!-- Carousel controls - prev item -->
    <button class="absolute bottom-0 left-0 top-0 z-[1] h-20 flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
            type="button"
            (click)="prevSlide()">
      <!-- ... existing code ... -->
    </button>
  
    <!-- Carousel controls - next item -->
    <button class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
            type="button"
            (click)="nextSlide()">
      <!-- ... existing code ... -->
    </button>
  </div>
  

  <!--Carousel controls - prev item-->
  <button
    class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    (click)="prevSlide()">
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Previous</span
    >
  </button>
  <!--Carousel controls - next item-->
  <button
    class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    (click)="nextSlide()">
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Next</span
    >
  </button>
</div>

<div class="xl2:flex xl2:flex-row mt-12 xs:flex-col xs:hidden">
    <div class=" md:w-1/2 float-left">
        <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt0d5546c2ea916524/6489df77e165894462d71b2f/EPL_Cover.jpg?auto=webp&format=pjpg&width=3840&quality=60" 
        alt="" 
        class="bg-cover h-full mx-auto ">
    </div>
    <div class="md:pl-10 mx-auto">
        <h1 class="text-3xl font-bold text-white ml-3">
          Get the best of the Premier league
        </h1>
        <div class="flex flex-row mt-4 flex-wrap ">
          <div class="group w-1/3 flex-col text-center mb-6 pt-5 pb-3 shadow cursor-pointer transition-transform duration-300 ease-in-out transform hover:scale-105 hover:bg-canary" 
          *ngFor="let team of premTeams" [routerLink]="['/products', team.TeamId]">
              <img src="{{team.Logo}}" alt="{{team.Name}}" class="h-20 mx-auto mb-2">
              <h1 class="text-xl text-white group-hover:underline font-semibold group-hover:text-black"> {{team.Name}}</h1>
          </div>        
      </div>
    </div>
</div>
<!--  responsive -->
<div class="relative flex-row mt-12 xs:flex-col xl2:hidden ml-9">

  <div class="mx-auto">
      <h1 class="text-xl font-bold text-white pl-3">
        Get the best of the Premier league
      </h1>
      

      <div class="flex flex-row mt-4 flex-wrap ">
        <div class="group md:w-1/3 xs:w-1/2 flex-col text-center mb-6 pt-5 pb-3 shadow cursor-pointer transition-transform duration-300 ease-in-out transform hover:scale-105 hover:bg-canary" 
        *ngFor="let team of premTeams" [routerLink]="['/products', team.TeamId]">
            <img src="{{team.Logo}}" alt="{{team.Name}}" class="h-14 mx-auto mb-2">
            <h1 class="text-lg text-white group-hover:underline font-semibold group-hover:text-black"> {{team.Name}}</h1>
        </div>  
        <div class=" w-full float-left mx-5">
          <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt0d5546c2ea916524/6489df77e165894462d71b2f/EPL_Cover.jpg?auto=webp&format=pjpg&width=3840&quality=60" 
          alt="" 
          class="bg-cover h-full mx-auto ">
        </div>      
    </div>
  </div>
</div>

<div class="relative flex flex-col mt-12">

    <div class="w-full  ml-4 mb-5">
        <h1 class="xl2:text-3xl font-bold text-white xs:text-xl">
            Get International Kits
        </h1>
    </div>
    <section class="justify-normal max-w-screen-2xl mx-auto">
      <div class="container overflow-x-hidden">
          <div class="flex flex-row flex-wrap w-full mx-auto"> 
              <div class="animate-fade-down animate-once animate-ease-linear mb-12 xl:w-1/5 lg:w-1/3 xs:w-1/2 hover:cursor-pointer" *ngFor="let kit of nationalKits">
              <div class="group mb-5 bg-black md:w-[270px] px-2 xs:w-44 md:ml-4 rounded-lg shadow transition-transform duration-300 ease-in-out hover:scale-110 md:h-[390px] xs:h-72" >  
                      <mat-icon fontIcon="favorite_border" 
                          matTooltipPosition="above"
                          matTooltip="Add to wishlist"
                          (click)="addToWishlist(kit)"
                          class="float-right hidden top-8 right-5 z-30 absolute text-black hover:cursor-pointer hover:flex">
                      </mat-icon>
                      <img [routerLink]="['/product', kit.name]"
                      class="w-full h-4/5 mx-auto aspect-[5/2]" src="{{kit.frontImage}}" alt="{{kit.name}}">
  
                      <h3 [routerLink]="['/product', kit.name]"
                      matTooltipPosition="above"
                      matTooltip="{{kit.name}}"
                      class="line-clamp-2 z-10 text-white text-base text-center group-hover:underline mt-3">
                          {{kit.name}}
                      </h3>
                      <div class="pb-3 mx-auto text-center font-semibold ">
                          <h1 class="z-10 text-white text-center text-sm">R{{kit.price}}.00</h1>
                      </div>
                  </div>
              </div>
  
          </div>
      </div>
    </section>
    

</div>
<div class="flex flex-col ml-9" *ngIf="onStockKits">
    <div class="w-screen lg:text-left flex-col xs:text-center">
      <h1 class="text-3xl font-bold text-white ">
        Get Stock On Hand
      </h1>
      <p class="text-white font-semibold text-sm  lg:text-left flex-col xs:text-center">
        SHOP ON-HAND & GET
YOUR PRODUCTS DELIVERED
WITHIN 3-5 DAYS
      </p>
    </div>
    

    <div class="justify-normal max-w-screen-2xl mt-5">
      <div class="container overflow-x-hidden">
          <div class="flex flex-row flex-wrap w-full mx-auto"> 
              <div class="animate-fade-down animate-once animate-ease-linear mb-12 xl:w-1/5 lg:w-1/3 xs:w-1/2 hover:cursor-pointer" *ngFor="let kit of onStockKits">
              <div class="group mb-5 bg-black md:w-[270px] px-2 xs:w-44 md:ml-4 rounded-lg shadow transition-transform duration-300 ease-in-out hover:scale-110 md:h-[390px] xs:h-72" >  
                      <img class="w-full h-4/5 mx-auto aspect-[5/2]" src="{{kit.frontImage}}" alt="{{kit.name}}">
  
                      <h3
                      matTooltipPosition="above"
                      matTooltip="{{kit.name}}"
                      class="line-clamp-2 z-10 text-white text-base text-center group-hover:underline mt-3">
                          {{kit.name}}({{kit.size}})
                      </h3>
                      <div class="pb-3 mx-auto text-center font-semibold ">
                          <h1 class="z-10 text-white text-center text-sm">R{{kit.price}}.00</h1>
                      </div>
                  </div>
              </div>
  
          </div>
      </div>
    </div>
</div>















