<div class="mx-auto max-w-screen-lg text-white mt-5 text-center px-8">
    <h2 class="text-2xl font-bold">
        About Vintage Kitman
    </h2>
    <p class="md:text-lg xs:text-base mb-6">
        <br>
        Vintage Kitman is your premier destination for the finest quality sports kits in South Africa. 
        Founded by a passionate sports enthusiast and avid vintage shirt collector with over 15 years of experience, V
        intage Kitman is more than just an online store – it's a reflection of a lifelong love for sports and nostalgia.
        <br>
        <br>
        The inspiration for Vintage Kitman struck in 2020 when our founder encountered a common frustration among sports fans in South Africa – the lengthy wait times for vintage shirts ordered from overseas. After enduring a four-month wait for a vintage shirt to arrive, the founder recognized an opportunity to provide a solution to this problem.
        <br>
        <br>
        Thus, Vintage Kitman was born, initially as an Instagram store dedicated to sourcing and supplying premium vintage sports shirts to fellow enthusiasts across South Africa. Over time, our Instagram store gained popularity, and we proudly assisted hundreds of South Africans in finding their favorite sports shirts to enrich their collections.
        <br>
        <br>
        Driven by a commitment to meet the growing demand and make the shopping experience more convenient for our valued customers, we have expanded our presence with the launch of our official website. Through our website, we aim to offer a seamless online platform where customers can explore our diverse range of products and securely transact from the comfort of their homes.
        <br><br>
        At Vintage Kitman, we understand the significance of sports memorabilia and the joy it brings to fans. That's why we meticulously curate our collection to ensure quality and a touch of nostalgia in every piece we offer. Whether you're a seasoned collector or a passionate sports fan looking to add to your wardrobe, Vintage Kitman is here to cater to your needs.
        <br><br>
        Thank you for joining us on this exciting journey as we continue to celebrate the timeless allure of vintage sports kits and serve the vibrant community of sports enthusiasts across South Africa.
        For inquiries or assistance, please don't hesitate to reach out to us at <a class="text-canary">vintagekitman1@gmail.com.</a>

    </p>
    <div class="my-5">
        <h2 class="text-2xl font-bold">
            Our First Bulk Order
        </h2>
        <img src="assets/images/first-order.png" alt="Vintage Kitman's first bulk order" class="mx-auto mt-5">
    </div>

    


</div> 

